@import 'animation_variable' ;


body
{

margin: 0px;
padding: 0px;


}

p , i , h1 , h2 , h3 , h4 , h5 , h6  {

    font-size: 25px;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    }



    header
    {
    
    display: flex;
    flex-direction: row-reverse;
    
    }
    
    #entete_logo
    {
        width: 100%;
        box-shadow: 0 5px 5px $shadow;
        padding: 20px 0px 20px 0px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        a
        {

            margin-left: 20px;
            margin-right: -20px;
            color: $color_black;

            i
            {

            font-size: 30px;

            }

        }

        
    }
    
    #logo 
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color:white;
        width: 40%;
        margin-left: auto;
        
        
    
    
    }




    #image_presentation
    {
    
   
    width: 100%;
    

        img
        {
       
        object-fit: cover;
        width: 100%;
        z-index: -1;
        max-height: 350px;

        }
    }

    #zone_de_commande
    {
        background-color: $white_background;
        z-index: 500;
        padding-bottom: 10px;
        position: relative;

        #entete
        {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            background-color: $white_background;
           position: absolute;
            padding-top: 30px;
            margin-top: -30px;
            z-index: 500;
            border-radius: 40px 40px 0px 0px;
            gap: 70px;
            top: -74px;
            width: 100%;
            padding-bottom: 30px;


            h1
            {

            font-family: 'Shrikhand' , sans-serif;
            font-weight: 100;
            font-size: 28px;

            }

            i
            {

                font-size: 25px;
               


            }


            .coeur_solid
            {
            cursor: pointer;
            position: absolute;
           


            &:hover i
            {
                cursor: pointer;
                color: transparent;
                background:linear-gradient($colour_primary, $colour_secondary);
                background-clip: text;
                -webkit-background-clip: text;
                visibility: visible;
                left: 2px;
                animation: coeur_anim 2s;
                
        
            }
    
            
            i
            {
        
            color: $color_black;
            visibility: hidden;

               
            }

            


            }
            .coeur_flex
            {
            
            display: flex;
            
            
            
            
            }





    
       

    }

    .mini_carte_recette_1
    {
    
    animation: anim_carte_apparition_1 2s ;

    }

    .mini_carte_recette_2
    {

    animation: anim_carte_apparition_2 2s ;

    }



    
        .mini_carte_recette_2, .mini_carte_recette_1
        {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto;
        margin-bottom: 30px;
        width: 90%;
        background-color: white;
        
        border-radius: 20px;
        box-shadow: 1px 1px 10px $shadow;
        overflow: hidden;
        

            &:hover
            {


            .espace_cacher
            {

          
            margin-right: 0px;
           


            i
            {

            transition: transform ;
            transition-duration: 1s;
            transform: rotate(360deg);

            }

            }

            }
    

        

            .texte_mini_carte
            {

            display:flex;
            flex-direction: column;
            justify-content: center;
            margin:auto;
            margin-left: 15px;
            z-index: 30;
            gap: 5px;
            width: 80% ;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: column;
            
            

            
    


                h3
                {
                font-size: 18px;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                

                }

                h4
                {
                font-size: 15px;
                font-weight: 100;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                
              

                }

            }



            p
            {
                
            font-weight: 600;
            font-size: 18px;
            
            margin: auto;
            margin-right: 0px;
            margin-bottom: 13px;

            z-index: 45;

            }

        }


        .flex_cacher_macaron
        {
        
        position: relative;
        display: flex;
        gap: 20px;

        }



        .espace_cacher
    {
    
    align-items: center;
    background-color: $colour_third;
    height: 80px;
    width: 60px;
    margin-right: -60px;
    padding: 0px;
    display: flex;
    transition: margin-right ease-in-out;
    transition-duration: 1s;
    
        i
        {
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: 30%;

        }
    
    }




        #centrage_bouton
        {

        width: 180px;
        margin: auto auto 30px auto;

        #boutton_commander
        {
        width: 100%;
        text-align: center;
        outline: none;
        border: 0px;
        background: linear-gradient($colour_secondary, $colour_primary);
        
        margin: auto;
        height: 50px;
        border-radius: 30px;
      
        color: white;
        font-size: 20px;
        font-weight: 400;

        box-shadow: 1px 1px 10px $shadow;

            &:hover
            {

            background: linear-gradient(#f895dc, $colour_primary);
            box-shadow: 5px 1px 15px $color_black;
     

            }
        
        }

    }

    h2
    {

    width: 90%;
        padding-bottom: 5px;
    font-weight: 500;
    border-bottom: 4px solid $colour_third ;
    width: 50px;
    margin: 40px 0px 30px 5%;

    }


    
    }








footer
{

padding-top: 5px;
padding-bottom: 20px;
background-color: $color_black;

    #dimension_footer
    {

    width: 90%;
    margin: auto;
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
    gap: 15px;

        h4
        {

        font-family: 'Shrikhand' , sans-serif;
        color: white;
        font-size: 15px;
        font-weight: 100;


        }


        #lien_footer
        {

        display: flex;
        flex-direction: column;
        gap: 5px;

        }


        a
        {
        
        text-decoration: none;
        color: white;
        
        i , h5
        {

        font-size: 14px;

        }
    
            .footer_aide_flex
            {

            display: flex;
            flex-direction: row;
            gap: 8px;

              

            }

        }

    }
}



    