@-webkit-keyframes apparition {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes anim_carte_apparition_1 {
  from {
    opacity: 0.5;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anim_carte_apparition_1 {
  from {
    opacity: 0.5;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes anim_carte_apparition_2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anim_carte_apparition_2 {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes coeur_anim {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes coeur_anim {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes animation_loader {
  from {
    visibility: visible;
    overflow-y: hidden;
  }
  to {
    visibility: hidden;
    overflow-y: visible;
  }
}

@keyframes animation_loader {
  from {
    visibility: visible;
    overflow-y: hidden;
  }
  to {
    visibility: hidden;
    overflow-y: visible;
  }
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#image_presentation img {
  width: 100%;
  max-height: 600px;
  -o-object-position: 40% 80%;
     object-position: 40% 80%;
}

#zone_de_commande #entete {
  gap: 50%;
}

#zone_de_commande #centrage_bouton #boutton_commander {
  font-size: 22px;
  width: 200px;
  height: 70px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 10px #424242;
          box-shadow: 1px 1px 10px #424242;
}

#zone_de_commande #centrage_bouton #boutton_commander:hover {
  background-color: #FF79DA;
  -webkit-box-shadow: 10px 10px 25px #272727;
          box-shadow: 10px 10px 25px #272727;
}
/*# sourceMappingURL=tablet_exemple_carte.css.map */