@import 'animation_variable';


#image_presentation
{

    img
    {

    width: 100%;
    
    max-height: 600px;
    object-position: 40% 80%;

    }


}


#zone_de_commande
{

    #entete
    {

    gap: 50%;
    


    }


    #centrage_bouton
    {


    #boutton_commander
    {

    
    font-size: 22px;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px $shadow;
        
        &:hover
        {

        background-color: $colour_secondary;
        box-shadow: 10px 10px 25px $color_black;
        

        }
    

    }



}





}


