


#section_fonctionnement
{

    ul
    {
    
    flex-direction: row;
    gap: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

        li
        {

            width: 100%;

        }

    }


}



#section_restaurant
{

    padding-bottom: 50px;

    h2
    {
    
    margin-top: 10px;
    margin-bottom: 10px;

    }


    #background_aide
    {
        #restau_flex_aide
        {

        flex-direction: row;
        flex-wrap: wrap;

            .carte
            {

            width: 48%;
            margin:auto;

            }

        }
    }

}